/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* regole nav bar */
nav{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#logo_lg img{
    width: 200px;
}

#logo_md{
    display: none;
}

.search {
    flex-grow: 1;
    margin: 0 10px;
}

.search input{
    width: 100%;
    background-color: #e5e5e5;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.icons{
    display: flex;
}

.md_none{
    display: flex;  
}

.md_none i{
    padding: 0 5px;
}

.fa-bell{
    padding-left: 5px;
    color: #ff8e00;
}





/* regole main */
main{
    height: calc(100vh - 70px);
    display: flex;
    max-width: 100%;
}

#aside{
    width: 200px;
    height: 100%;
   
    /* debug */
    background-color: cadetblue;
}

#main_section{
    width: calc(100vw - 200px);
    height: 100%;
    
    /* debug */
    background-color: crimson;
}












/******************* RESPONSIVE ***********************/

@media screen and (max-width:991px){
    #logo_lg img{
        display: none;
    }
    
    #logo_md{
        display: block;
    }
    
    .md_none{
        display: none;
    }

}