/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* regole nav bar */
nav{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
    /* debug */
    /* background-color: coral; */
}

#logo img{
    width: 10vw;
}

#nav_bar_search{
    background-color: #e5e5e5;
    padding: 10px;
    width: 80vw;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 10px;
}

.md_none i{
    padding: 0 5px;
}

.fa-bell{
    padding-left: 5px;
    color: #ff8e00;
}
/* regole main */
main{
    height: calc(100vh - 70px);
    display: flex;
}

#aside{
    width: 200px;
    height: 100%;
    /* debug */
    background-color: cadetblue;
}

#main_section{
    width: calc(100vw - 200px);
    height: 100%;
    /* debug */
    background-color: crimson;
}












/******************* RESPONSIVE ***********************/

