/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* regole nav bar */
nav{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#logo_lg img{
    width: 200px;
}

#logo_md{
    display: none;
}

.search {
    flex-grow: 1;
    margin: 0 10px;
}

.search input{
    width: 100%;
    background-color: #e5e5e5;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.icons{
    display: flex;
}

.md_none{
    display: flex;  
}

.md_none i{
    padding: 0 5px;
}

.fa-bell{
    padding-left: 5px;
    color: #ff8e00;
}





/* regole main */
main{
    height: calc(100vh - 70px);
    display: flex;
    max-width: 100%;
}

#aside{
    width: 120px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* debug */
    background-color: #051e34;
}

#main_section{
    width: calc(100vw - 120px);
    height: 100%;
    /* debug */
    background-color: crimson;
}

.aside_list a, .aside_list i{
    color: #fff;
}

.aside_list{
    display: flex;
    margin-bottom: 15px;
}

.fa-chart-simple{
    padding-left: 5px;
}
.txt_none{
    margin-left: 10px;
}








/******************* RESPONSIVE ***********************/

@media screen and (max-width:991px){
    /* nav bar */
    #logo_lg img{
        display: none;
    }
    
    #logo_md{
        display: block;
    }
    
    .md_none{
        display: none;
    }

    /* sezione laterale */
    #aside{
        width: 60px;
    }
    
    #main_section{
        width: calc(100vw - 60px);
    }

    .txt_none{
        display: none;
        margin-left: 0;
    }
}